@import "/src/styles/extend.scss";

div.date-badge-wrapper-transparent {
    .date-badge {
        background-color: transparent;
        color: var(--theme-texts-light);
        border-color: var(--theme-opacity-border);
        box-shadow: none;
    }
}