@import "/src/styles/extend.scss";

div.info-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: var(--theme-info-badge-background);
    border: 1px solid var(--theme-primary);
    color: var(--theme-info-badge);
    padding: 8px 18px;
    border-radius: 12px;
    box-shadow: 0 2px 8px var(--theme-opacity-border);
    font-weight: 500;
    letter-spacing: 0.02em;

    i.fa-icon {
        margin-right: 10px;
        opacity: 0.9;
        scale: 0.95;
        margin-bottom: 2px;
        color: var(--theme-primary);
    }

    .fa-arrow-right-long {
        opacity: 0.7;
    }
}